
@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar ul li.active a,
#sidebar-small ul li.active a {
    background-color: #E2E8F0;
    color: #3182CE;
    border-left: 4px solid #3182CE;
    font-weight: bold;
}

#sidebar ul li.active a i,
#sidebar-small ul li.active a i {
    color: #3182CE;
}