
@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar ul li.active a,
#sidebar-small ul li.active a {
    background-color: #E2E8F0;
    color: #4c51bf;
    border-left: 4px solid #4c51bf;
    font-weight: bold;
}

#sidebar ul li.active a i,
#sidebar-small ul li.active a i {
    color: #4c51bf;
}